*{
	padding: 0;
	margin: 0;
}
ul,li{
	list-style: none;
}
.body{
	width: 100%;
	height: 1290px;
}
.top{
	width: 100%;
	height: 170px;
	background-color: white;
	z-index: 2;
}
.top1{
	padding:10px 0 10px 0;
	width: 80px;
	height: 12px;
	float: left;
}
.top12{
	float: left;
	width: 1100px;
	height: 32px;
}
.top13{
	float: left;
	width: 742px;
	height: 20px;
	padding: 10px 0 2px 358px;
}
.top12 a{
	float: left;
	display: inline-block;
	margin-left:  18px;
}
.top12a{
	font-size: 12px;
	color:#74736d;
	text-decoration:none;
}
.top2{
	width: 150px;
	height: 66px;
	padding:10px 0 22px 0; 
	float: left;
}
.top21{
	width: 82px;
	height: 30px; 
	background-color: #ff4d04;
	float: left;
	text-align: center;
	padding-top: 12px;
}
.top22{
	 width: 84px;
	 height: 40px;
	 border: 1px solid #e6e5e2;
	 float: left;
}
.input{
	color:#74736d;
	font-size:14px;
	width: 500px;
	height: 38px;
	border: 2px solid #fe6c00;

}
.top2a0{
	font-size: 10px;
	color: red;
	text-decoration: none;
}
.top2a1{
	font-size: 10px;
	color: red;
	text-decoration: none;
	width: 1px;
	height: 16px;
	background: url(../images/img/shuxian.jpg)0 2px no-repeat; 
	padding:0 10px 0 10px;
}
.top2a2{
	font-size: 10px;
	text-decoration: none;
	width: 1px;
	height: 16px;
	color:#74736d;
	background: url(../images/img/shuxian.jpg)0 2px no-repeat; 
	padding:0 10px 0 10px;
}
.top2a3{
	font-size: 10px;
	color: #b5a9d3;
	text-decoration: none;
	width: 1px;
	height: 16px;
	background: url(../images/img/shuxian.jpg)0 2px no-repeat; 
	padding:0 10px 0 10px;
}
.top3{
	height: 98px;
	width: 348px;
	float: left;
}
.top31{
	width: 258px;
	height: 40px;
	float: left;
	margin: 24px 0 0 90px;
}
.top4{
	height: 40px;
	float: left;
	width: 100%;
	background-color: #000;
}
.main{
	width: 100%;
	height: 774px;
	margin:0 auto;
	background-color: #f7f7f7;
}
.main1{
	height: 26px;
	width: 1180px;
	margin: 0 auto;
	padding-top: 12px;
}
.main1a{
	font-size: 12px;
	text-decoration: none;
	color: #000;
}
.main2{
	height: 632px;
	width: 1180px;
	margin: 0 auto;
}
.main21{
	float: left;
	height: 632px;
	width: 994px;
	background-color: #fff;
}
.m1{
	width: 450px;
	height: 632px;
	float: left;
}
.m11{
	width: 450px;
	height: 450px;

}
#box{
	width: 408px;
	height: 408px;
	margin: 20px;
	position: relative;
	z-index: 1;
	float: left;
}
#img1{
	width: 408px;
	height: 408px;
	position: absolute;
	border:1px solid #d0cdc7;
	left: 0;
	top:0;
}
#slider{
	 width:150px;
	 height:150px;
	 position:absolute;
	 left:0;
	 top:0;
	 background:#5C5655;
	 opacity:0.4;
	 cursor: move;
	 display:none; 
	 filter:alpha(opacity=40);
}
#img2{
	position:absolute;
	right:0;
	top:0;
	left:408px;
	display:none; 
	width:408px;
	height:408px;
	overflow:hidden;
	border: 1px solid #E8E8E8;
	z-index: 1;
	background-color: white;
}
.m12{
	width: 408px;
	height:408px;
	border: 1px solid #d0cdc7; 
	margin: 20px;
}
.m13{
	width: 430px;
	height: 182px;
	padding-left: 20px;
}
.m2{
	width: 544px;
	height: 632px;
	float: left;
}
.main22{
	float: left;
	height: 632px;
	width: 180px;
	padding-left:6px;
}
.main3{
	height: 104px;
	width: 1180px;
	margin: 0 auto;
}
.a{
	text-decoration:none;
	color: #000;
}
.a0{
	text-decoration:none;
	color: white;
}
.a1{
	text-decoration:none;
	color: #855d38;
}
.a2{
	font-size: 16px;
	text-decoration:none;
	color: #000;
}
.a3{
	font-size: 12px;
	text-decoration:none;
	color: #666560;
}

.li{
	float: left;
	text-align: center;
}
.li0{
	width: 127px;
	height: 28px;
	text-align: center;
	float: left;
	padding-top: 12px;
}
.li0:hover{
	background-color: #fe0d4a;
}
.li1{
	float:left;
	text-align: center;
	padding-right: 8px;
	font-size: 12px;
}
.li2{
	float:left;
	text-align: center;
	font-size: 12px;
}
.bottom{
	width: 1180px;
	height: 347px;
	margin: 0 auto;
	background-color: white;

}
.bottom1{
	width: 150px;
	height: 180px;
	float: left;
}
.bottom2{
	width: 1030px;
	height: 180px;
	border-bottom: 1px solid #ebeae8;
	float: left;
}
.bottom21{
	width: 820px;
	height: 180px;
	float: left;
}
.bottom22{
	width: 712px;
	height: 124px;
	padding:32px 0 0 78px;
}
.bottom23{
	width: 210px;
	height: 180px;
	float: left;
}
.last{
	width: 1180px;
	height: 162px;
	margin: 0 auto;
}
.last1{
	width: 1180px;
	height: 38px;
	float: left;
}
.last2{
	width: 1180px;
	height: 20px;
	float: left;
}
.last3{
	width: 1180px;
	height: 26px;
	float: left;
}
.last4{
	width: 1180px;
	height: 20px;
	float: left;
}
.last5{
	width: 1180px;
	height: 58px;
	float: left;
}
.p{
	text-align: center;
	font-size: 12px;
	color:#9a9791;
}
.p1{
	float: left;
	font-size: 12px;
	padding: 2px 0 0 20px;
}
.p2{
	float: left;
	padding-left: 54px;
	color: #ff5303;
}
.p3{
	float: left;
	font-size: 12px;
	padding: 3px 0 0 20px;
	text-decoration: line-through;
}
.p4{
	font-size: 12px;
	height: 18px;
	padding-top: 3px;
	float: left;
	text-align: center;
	padding: 6px 0 0 10px;
}
	
.p5{
	font-size: 12px;
	height: 30px;
	padding-top: 3px;
	float: left;
	padding: 6px 0 0 10px;
}
.han1{
	width: 62px;
	height: 30px;
	float: left;
}
.han2{
	width: 62px;
	height: 30px;
	float: left;
	margin-left: 10px;
}
.input1{
	height: 32px;
	width: 26px;
	float: left;
	background-color: white;
	border:1px solid #cecbc5;
	border-right: 0px;
}
.input2{
	height: 28px;
	width: 50px;
	float: left;
	text-align: center;
}
.input3{
	height: 32px;
	width: 26px;
	float: left;
	background-color: white; 
	border:1px solid #cecbc5;
	border-left: 0px;
}
.button1{
	width: 148px;
	height: 40px;
	border: 1px solid red;
	text-align: center;
	background-color: white;
	color: #ff0754;
	border-radius: 5%;
}
.button2{
	width: 148px;
	height: 40px;
	border: 1px solid red;
	text-align: center;
	background-color: #ff0754;
	color: white;
	border-radius: 5%;
	margin-left: 20px;
}
.mengban{
	width: 100%;
	height: 100%;
	background-color: rgba(222,220,216,0.5);
	z-index: 1000;
	position: fixed;
	display: none;
	top:0;
	left: 0;
}
.mengban2{
	width: 398px;
	height: 228px;
	border: 5px solid #aca9d3;
	overflow:hidden;
	background-color: white;
	position: absolute;
	margin:  auto;
	top: 0;
	right: 0;left: 0;bottom: 0;"
}